<!DOCTYPE HTML>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Data</a></li>
      <li role="presentation"><a href="#">Data Date</a></li>
    </ul>
    <br>
    <div id="message"></div>
    <button id="show-add-button" class="btn btn-success">Add +</button>

    <form action="/api/data" method="POST" id="add-update-data">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" name="letter"placeholder="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">@example.com</span>
      </div>

      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-addon">.00</span>
      </div>

      <label for="basic-url">Your vanity URL</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      </div>

      <input name="object_id" type ="hidden">
      Letter: <input type="text" name="letter"><br>
      Frequency: <input type="number" name="frequency"><br>
      <input type="submit" value="Save">
    </form><br>
    Search<br>
    Letter <input type="text" id="search-box-letter"> Frequency <input type="text" id="search-box-frequency">
    <div id="data"></div>
  </div>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="./public/javascript/script-data.js" type="text/javascript"></script>
</body>
</html>
