extends layout

block content
  include navbar
  .container
    button.btn.btn-primary
      span.glyphicon.glyphicon-plus
      b Add
    
    .jumbotron#addform
      form.form-inline
        .form-group
          label(for='letter') Letter
          &nbsp;
          input#letter.form-control(type='text', placeholder='A', name='letter')
        &nbsp;
        .form-group
          label(for='frequency') Frequency
          &nbsp;
          input#frequency.form-control(type='number', placeholder='0.0000', name='frequency')
        &nbsp;
        button#btnsave.btn.btn-default(type='submit') Save
    .row
      h3 Search
      hr
      form.form-inline
        .form-group
          label(for='exampleInputName2') Letter
          &nbsp;
          input#lettersearch.form-control(type='text', placeholder='A', name='letter')
        &nbsp;
        .form-group
          label(for='exampleInputEmail2') Frequency
          &nbsp;
          input#frequencysearch.form-control(type='number', placeholder='0.0000', name='frequency')

    .row
      table.table
        caption Optional table caption.
        thead
          tr
            th #
            th Letter
            th Frequency
            th Action
        tbody#datatable
          tr
            th(scope='row') 1
            td 2016-10-21
            td 97
            td
              button.btn.btn-success
                span.glyphicon.glyphicon-pencil
                b Update
              &nbsp;
              button.btn.btn-danger
                span.glyphicon.glyphicon-trash
                b Delete
  script(type='text/javascript', src='/javascripts/validation.js')
  script(type='text/javascript', src='/javascripts/datadate.js')
