extends layout

block content
  .container

    .panel.panel-primary
      .panel-heading
        span
          i.glyphicon.glyphicon-bookmark
        span Welcome to Dashboard Hacktiv8 CMS
      .panel-body
        .container-fluid
          .row
            .col-md-12.btn.btn-lg.btn-danger Line
              i.glyphicon.glyphicon-signal
          br
          .row
            .col-md-12.btn.btn-lg.btn-warning Line
              i.glyphicon.glyphicon-cd
          br
          .row
            .col-md-12.btn.btn-lg.btn-primary Bar
              i.glyphicon.glyphicon-signal
          br
          .row
            a.btn.btn-lg.btn-success.btn-block(href='/login') Admin Panel
              br
              i.glyphicon.glyphicon-globe
